@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-primary-purple: #7C3AED;
  --color-secondary-teal: #14B8A6;
  --color-secondary-cyan: #06B6D4;
  --color-accent: #F59E0B;

  --font-sans: var(--font-inter), sans-serif;

  --animate-blob: blob 7s infinite;
  --animate-gradient-xy: gradient-xy 15s ease infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes gradient-xy {

    0%,
    100% {
      background-size: 400% 400%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-background text-foreground;
  }
}